<!DOCTYPE html>
<h1>Transportation Confirmation</h1>
<br>
{{#each transport}}
<table class="coolTable">
	<thead>
		<tr>
			<th class="coolHeader">Vehicle</th>
			<th class="coolHeader">License Plate</th>
			<th class="coolHeader">Capacity</th>
			<th class="coolHeader">Pick Up Date</th>
			<th class="coolHeader">Pick Up Time</th>
			{{#if instructions}}
			<th class="coolHeader">Instructions</th>
			{{/if}}
			<th class="coolHeader">Request Sent Date</th>
			<th class="coolHeader">Acceptance Date</th>
			{{#if shelter_name}}
			<th class="coolHeader">Shelter Name</th>
			{{/if}}
			{{#if rescue_group_name}}
			<th class="coolHeader">Rescue Group Name</th>
			{{/if}}
			{{#if foster_home_address}}
			<th class="coolHeader">Foster Home Address</th>
			{{/if}}
		</tr>
	</thead>
	<tbody>
		<tr class="center-column">
			<td>{{this.vehicle}}</td>
			<td>{{this.license_plate}}</td>
			<td id="capacity">{{this.capacity}}</td>
			<td><input id="dateConfirm" name = "dateConfirm" class="dateTimeConfirm" type="date" value="{{t_date}}"></td>
			<td><input id="timeConfirm" name = "dateConfirm" class="dateTimeConfirm" type="time" value="{{t_time}}"></td>
			{{#if instructions}}
			<td>{{this.instructions}}</td>
			{{/if}}
			<td>{{this.request_sent_date}}</td>
			<td>{{this.acceptance_date}}</td>
			{{#if shelter_name}}
			<td>{{this.shelter_name}}</td>
			{{/if}}
			{{#if rescue_group_name}}
			<td>{{this.rescue_group_name}}</td>
			{{/if}}
			{{#if foster_home_address}}
			<td>{{this.foster_home_address}}</td>
			{{/if}}
		</tr>
	</tbody>
</table>
{{/each}}
<br>
<div id="buttonCapWrap">
	<button class="btn" onclick="incCapacity()">Increase Capacity</button>
	<button class="btn" onclick="decCapacity()">Decrease Capacity</button>
</div>
<br>
<div id="buttonSaveCancelWrap">
	<button class="btn" onclick="updateConfirm(1)">Submit</button>
	<a class="btn" href="/canine-rescue/home">Cancel</a>
</div>

<script src="/static/editConfirm.js"></script>