<h1>Dog Details</h1>


<div class="view-class">
    {{#each dogs}}
	<table>
        <thead align="left">
		<tr>
			<th>{{name}}</th>
			<th></th>
		</tr>
        </thead>
        <tbody>
			<tr>
				<td><img src="/static/photos/dog{{dog_id}}.jpg"></td>
			</tr>
			<tr>
				<td><button type="button" class="btn">Add to Favorites</button></td>
				<td></td>
			</tr>
			{{#if ../owner}}
			<tr>
				<td><button type="button" class="btn">Request Transport</button></td>
				<td></td>
			</tr>
			{{/if}}
            <tr>
				<td>Name:</td>
				<td>{{name}}</td>
			</tr>
			<tr>
				<td>Birthday:</td>
				<td>{{birthday}}</td>
			</tr>
            <tr>
				<td>Sex:</td>
				<td>{{sex}}</td>
			</tr>
            <tr>
				<td>Breed:</td>
				<td>{{breed}}</td>
			</tr>
            <tr>
				<td>Weight:</td>
				<td>{{weight}}</td>
			</tr>
            <tr>
				<td>Status:</td>
				<td>{{status}}</td>
			</tr>
			{{#if shelter_name}}
			<tr>
				<td>Shelter:</td>
				<td>{{shelter_name}} (<a href="#">Contact</a> | <a href="/canine-rescue/shelter/{{shelter_id}}">More Dogs</a>)</td>
			</tr>
			{{else}}
			<tr>
				<td>Rescue Group:</td>
				<td>{{rg_name}} (<a href="#">Contact</a> | <a href="/canine-rescue/rescue-group/{{rg_id}}">More Dogs</a>)</td>
			</tr>
			{{/if}}
			{{#if discharge_date}}
			<tr>
				<td>Discharge Date:</td>
				<td>{{discharge_date}}</td>
			</tr>
			{{/if}}
        </tbody>
    </table>
	{{/each}}
</div>