<h1>List of Dogs By Shelter</h1>


<div class="view-class">
    <table>
        <thead>
        <th>Shelter</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Sex</th>
        <th>Breed</th>
        <th>Weight</th>
        <th>Status</th>
        </thead>
        <tbody>
            {{#each dogs}}
            <tr>
                <td>{{shelter_name}}</td>
                <td>{{name}}</td>
                <td class="center-column">{{birthday}}</td>
                <td class="center-column">{{sex}}</td>
                <td class="center-column">{{breed}}</td>
                <td class="center-column">{{weight}}</td>
                <td class="center-column">{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>