<!DOCTYPE html>
<h1>List of Dogs By Rescue Group</h1>


<div class="view-class">
    <table>
        <thead>
        <th>Rescue Group</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Sex</th>
        <th>Breed</th>
        <th>Weight</th>
        <th>Status</th>
        </thead>
        <tbody>
            {{#each dogs}}
            <tr>
                <td>{{rescue_group_name}}</td>
                <td>{{name}}</td>
                <td class="center-column">{{birthday}}</td>
                <td class="center-column">{{sex}}</td>
                <td class="center-column">{{breed}}</td>
                <td class="center-column">{{weight}}</td>
                <td class="center-column">{{status}}</td>
				<td class="center-column"><a href="/canine-rescue/dog/{{dog_id}}">View Details</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>